body {
  max-width: 500px;
  background: transparent !important;
}
input {
  display: block;
  margin: 0 0 1em 0;
  padding: .4em .5em;
  width: 100%;
  height: 40px;
  outline: none; 
}
[type=number] {
  display: block;
  margin: 0 0 1em 0;
  padding: .4em .5em;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(255,255,255,.7);
  border-radius: 2px;
  background: rgba(255,255,255,.5);
  box-shadow: rgba(0,0,0,.15) 0 1px 0;
  color: rgba(0,0,0,.7);
  font-weight: 400;
  font-size: 12pt;
  transition: all .2s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}
[type=number]:focus {
  outline: none;
  border-color: orange;
  box-shadow: #fc0 0 0 3px;
}